<app-drawer-layout fullbleed [narrow]="narrow" (narrow-changed)="narrow = $event.detail.value">
  <!-- Drawer content -->
  <app-drawer #drawer slot="drawer" [swipeOpen]="narrow">
    <app-toolbar>Menu</app-toolbar>
    <nav class="drawer-list" role="navigation">
      <a routerLink="view1" rounterLinkActive="selected">View One</a>
      <a routerLink="view2" rounterLinkActive="selected">View Two</a>
      <a routerLink="view3" rounterLinkActive="selected">View Three</a>
    </nav>
  </app-drawer>

  <!-- Main content -->
  <app-header-layout has-scrolling-region>
    <app-header effects="waterfall" slot="header" condenses reveals>
      <app-toolbar>
        <paper-icon-button icon="my-icons:menu" drawer-toggle></paper-icon-button>
        <div main-title>{{title}}</div>
      </app-toolbar>
    </app-header>

    <router-outlet></router-outlet>
  </app-header-layout>
</app-drawer-layout>
