html {
  --app-primary-color: #4285f4;
  --app-secondary-color: black;
}

body {
  margin: 0;
  font-family: 'Roboto', 'Noto', sans-serif;
  line-height: 1.5;
  min-height: 100vh;
  background-color: #eeeeee;
}
